doctype html
html.locale-en-US.js.no-touch.cssanimations.csstransforms.csstransforms3d.csstransitions
  head
    title= title
    link(rel='icon', href='/images/fibonacci-btn.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .wrap
      #main.main-content.position-relaive
        block content
    script(typpe='text/javascripts',src='/javascripts/scripts.js')
